<ion-header>
  <app-primary-header [title]="'Change Password' | translate">
    <ion-back-button></ion-back-button>
  </app-primary-header>
</ion-header>

<ion-content>
  <form [formGroup]="passwordChangeFormFacade" class="ion-padding" (ngSubmit)="changePassword()">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'New Password' | translate }}</mat-label>
      <input type="password" matInput formControlName="password1">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Re-enter New Password' | translate }}</mat-label>
      <input type="password" matInput formControlName="password2">
    </mat-form-field>

    <app-form-footer (saveButtonClick)="changePassword()"></app-form-footer>
  </form>

</ion-content>
