<app-primary-header [title]="'Reset Password' | translate">
  <ion-back-button></ion-back-button>
</app-primary-header>

<ion-content>
  <form [formGroup]="verifiedPasswordResetForm" class="ion-padding" (ngSubmit)="resetPassword()">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'New Password' | translate }}</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <app-form-footer (saveButtonClick)="resetPassword()" [saveButtonText]="'Confirm'"></app-form-footer>
  </form>

</ion-content>

