<ion-header>
  <app-primary-header [title]="'Reset Password' | translate">
    <ion-back-button></ion-back-button>
  </app-primary-header>
</ion-header>

<ion-content>
  <form [formGroup]="passwordResetForm" class="ion-padding" (ngSubmit)="resetPassword()">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Username' | translate }}</mat-label>
      <input type="text" matInput formControlName="username">
    </mat-form-field>

    <app-form-footer (saveButtonClick)="resetPassword()" [saveButtonText]="'Proceed' | translate"></app-form-footer>
  </form>
</ion-content>
