app-profile-picture  {
    height: 66px;
    width: 66px;
    display: block;
    margin: auto;
}

ion-button {
    width: 70px;
    height: 20px;
    margin: auto;
    display: block;
}

.status-btn {
    margin-top: 12px;
    font-size: 10px;
}

p {
    font-size: 12px;
}

ion-item {
    --min-height: 20px
}
