ion-icon {
    height: 56px;
    width: 56px;
}

ion-label {
    text-overflow: clip !important;
}

ion-col h3 {
    font-size: 10px;
}

ion-card-content {
    padding: 6px;
}

.border-left {
    border-left: 1px solid lightgrey;
}

ion-note {
    font-size: 10px;
}