h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
}

h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    margin-top: 10px;
    margin-right: 0;
}

ion-icon {
    margin-right: 3px;
    height: 14px;
    width: 14px;
}
