<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847945805342-1ufvf1j28o6qdm7546h275v0j96h3hdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847945805342-1ufvf1j28o6qdm7546h275v0j96h3hdc</string>
	<key>API_KEY</key>
	<string>AIzaSyD4SWOXcJyRSsUs9tb0vg5vddDFQ48ICSY</string>
	<key>GCM_SENDER_ID</key>
	<string>847945805342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eservsol</string>
	<key>PROJECT_ID</key>
	<string>eservsol-a33dc</string>
	<key>STORAGE_BUCKET</key>
	<string>eservsol-a33dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847945805342:ios:fce115f6c9f6a0b1bbc80f</string>
</dict>
</plist>